<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">

    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js">
  <!--  <script src="angular.min.js">-->
  </script> 
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="todo.js"></script>

</head>
<body>

<form class="form-horizontal" role="form" action="/login" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="inputLogin" class="col-sm-2 control-label">Login</label>
        <div class="col-sm-4">
            <input class="form-control" id="inputLogin" name="login" placeholder="Login" ng-model="formInfo.Login">
            <h1>Привет {{formInfo.Login}}!</h1>
            </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input class="form-control" name = "email" id="inputEmail" placeholder="Email" ng-model="formInfo.Email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
            <input type="password" name = "password" class="form-control" id="inputPassword" placeholder="Password" ng-model="formInfo.Password">
        </div>
    </div>
    <form action="/login" method="post" enctype="application/x-www-form-urlencoded">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Sign in</button>
            <button type="submit" class="btn btn-warning">Sign up</button>
        </div>
    </div>
    </form>
</form>
 <span id="wrongAuth" ng-model="wrongAuth" ></span>
 
<script src="bootstrap.min.js"></script>
<script src="css/bootstrap.min.css"></script>
<script src="bootstrap.js"></script>
<script src="app.js"></script>

</body>
</html>
