*, *:before, *:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

body { 
    background-color:rgb(234, 221, 154);
    font: 16px/1.42857 "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0;
}

header {
 
    background-color: rgb(98, 98, 184);
    color: #fff;
    /*height: 160px;
    padding: 10px 50px;*/
	

	position: fixed;
	top: expression(document.getElementsByTagName( 'body' )[0].scrollTop + "px");
	margin-top:0px;
	width: 100%;
height: 160px;
padding-left: 145px;
padding-top: 20px;

top: 0;
left: 0;
	
	
}

header h2{
 background-color:rgb(221, 189, 162);
 width: 500px;
 margin-left: 235px;
  border-radius: 10px;
  text-align: center;
  color:rgb(179, 33, 138);
  
 
}
figure {
    float:left;
}
nav {
 margin-top: 160px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    height: 25px;
	
	
	position: fixed;
	top: expression(document.getElementsByTagName( 'body' )[0].scrollTop + "px");

	width: 100%;

padding-left: 145px;
padding-top: 20px;

top: 0;
left: 0;
}

nav ul li {
    float:left;
    margin-right:22px
}
#main {
margin-top: 190px;
    /*margin: 0 auto;*/
    /*width: 1170px;*/
	width:100%;
    display: block;
}

#panel_left{
/*position: fixed;*/
float: left;
margin-left:30px;
width: 68%;


}
#pan_head_left_top{
background-color: #A8E8E8;
}
#pan_haed_left_down{
background-color:#ccc;
}


#Zakladka_activ{
color:rgb(208, 25, 25);
font-weight: 600;
}
#panel_right{
position: fixed;
float: right;
margin-left: 80px;
}
#pan_top_ritgh{
background-color:rgb(203, 73, 202);
}
#title_top_ritgh{
color:white;
}

#article {
    float: left;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 80%;
    overflow: hidden;
}
section {
    background-color:#eee;
    border: 1px solid #ccc;
    padding: 20px;
}
aside {
    float: left;
	margin-left:-25px;
  
    width: 20%;
    display: block;
    overflow: hidden;
    position:relative;
}

#search_patient{
padding-bottom:25px;
padding-top:5;
}

menu {
    padding: 0;
}
footer {
    background-color: rgb(98, 98, 184);
    clear: both;
    color: white;
    padding: 30px ;
	height: 5px;
}

footer small a {
    color: #eff;
}

div.scroll-table {
  width: 100%;
  overflow: auto;
  height: 150px;
}

