@media screen and (max-width: 900px) {
@media screen and (max-width: 900px) {
    #nav1 li{
		width: 50%;
	}
	#footer ul{
		width: 70%;
	}
	#header{
		height: auto;
		line-height: 100px;
		padding-left: 25%;
	}
}
@media screen and (max-width: 760px) {
	#header{
		position: absolute;
		top: 0;
		left: 0;
		background-image: none;
	}
    #aside{
		position: static;
		width: 100%;
		margin-top: 100px;
	}
	#main{
		width: 100%;
	}
	#footer{
		width: 100%;
	}
}
@media screen and (max-width: 550px) {
    html {
       -webkit-text-size-adjust: none;
    }
	#header{
		padding-left: 15%;
		text-align: center;
	}
	#article h3{
		top: 15px;
		left: 15px;
	}
	#footer ul{
	width: 100%;
	}
	#copyright{
		clear: both;
		width: 100%;
		text-align: center;
		border: none;
	}
	#article h3{
		font-size: 2em;
	}
	.change{
		font-size:.7em;
		font-weight: bold;
	}
}
@media screen and (max-width: 380px) {
	#header{
		padding-left: 20px;
		line-height: 80px;
	}
	#header{		
		font-size: 4em;
	}
	#nav1 li, #nav2 li{
		width: 100%;
	}
	#footer li{
		width: 100%;
	}
}