body{
	margin: 0;
	padding: 0;
	font: 0.81em/150% Helvetica, Arial, sans-serif;
	background: #374F64 url(../img/stars.jpg) repeat-x;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
     display: block;
}
h1, h2, h3, h4, h5, h6{
	line-height: 1.4em;
	color: #000;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
a{
	text-decoration: none;
	outline: none;
	color: #333;
}
li{
	list-style: none;
}
ul{
	line-height: 140%;
	margin:0;
	padding: 0;
}
.video embed,
.video object,
.video iframe {
    width: 100%;
    height: auto;
}
.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 100%;
}
.left{
	float: left;
}
.right{
	float: right;
}
#container{
	width:95%;
	max-width: 1650px;
	margin: 0 auto;
}
#nav1, #nav2, #aside, #footer, #choise{
	background: #FBF9E3;
	border-radius: 3px;
	box-shadow: 3px 3px 1px rgba(0,0,0,0.4);
}
.bold{
	text-align: center;
	font-weight: bold;
}
.title{
	font-size: 1.5em;
	color: #4d4c4c;
} 
/*HEADER*/
#header{
	height: 200px;
	background: url(../img/rock.png) 0 0 no-repeat;
	font: bold 5em Helvetica, Arial, sans-serif;
	line-height: 200px;
	text-align: center;
	text-shadow: 5px 5px 5px #C0C88D;
}
#header a{	
	color: #2f044d;
	transition: 0.3s ease-out;
}
#header a:hover{
	color: #f9f88c;
}
/*ASIDE*/
#aside{
	position: absolute;
	right: 10px;
	top:200px;
	width: 24%;
}
#aside select{
	margin-left: 40px;
}
span.title{
	padding: 0 20px;
}
.button-choise{
	width: 80%;
	display: block;
	border-radius: 15px;
	line-height: 2em;
	margin: 10px auto;
	border: 2px solid #ccc;
	background:  #424141;
	background: linear-gradient( #424141, #807e71);
	font-weight: bold;
	font-size: 1.4em;
	font-style: italic;
	color: #fdfad9;
	text-align: center;
}
.button-choise:hover {
	background: linear-gradient( #807e71, #424141);
}
.button-choise:active {
	background: #807e71;
	color: #3b3b38;
}
/*MENU*/
ul{
margin: 0;
padding: 0;
}
li{
	list-style-type: none;
	float: left;
	display: inline-block;
	font: bold 1.2em Arial, Helvetica, sans-serif;
	line-height: 2.5em;
	width: 25%;
	text-align: center;
	border-left: 1px solid #555;
	border-bottom: 1px solid #555;
	box-sizing: border-box;
}
li:first-child{
	border: none;
	border-bottom: 1px solid #555;
}
#nav1 a, #nav2 a{
	display: block;
	text-shadow: 1px 1px #d2d4c3;
}
#nav2 a{
	line-height: 1.5em;
}
#nav2  li{
	width: 33.333%;
	font: bold 1.4em Arial, Helvetica, sans-serif;
}
#nav1 a, #nav2 a{
	transition: 0.3s ease-out;
}
#nav1 li, #nav2 li{
	background: linear-gradient( #6a6a6a, #e5e3cf);
}
#nav1 a:hover, #nav2 a:hover{
	background: #e5e3cf;
}
#nav1 a:active, #nav2 a:active{
	background: #f3f1dc;
	color: #61605b;
}
/*MAIN*/
#main{
	width: 75%;
}
#article{
	position: relative;
	margin-top: 10px;
	max-width: 1240px;
}
#article h3{
	position: absolute;
	top: 50px;
	left: 50px;
	padding: 10px 25px;
	font-size: 3em;
	background: rgb(204,204,204);
	background: rgba(204,204,204,.5);
	border-radius: 2em;
	transition: 0.3s ease-out;
}
#article h3:hover{
	color: #f9f88c;
	text-shadow: 2px 2px 2px #fff;
}
.photo{
	position: relative;
	width: 50%;
	margin: 0;
}
.change a{
	position: absolute;
	top: 30px;
	left: 30px;
	display: block;
	padding: 10px 20px;
	font-size: 2.5em;
	background: rgb(204,204,204);
	background: rgba(204,204,204,.5);
	border-radius: 2em;
	transition: 0.3s ease-out;	
}
.change a:hover{
	color: #000;
	text-shadow: 2px 2px 2px #fff;
}
/*FOOTER*/
#footer{
	width: 75%;
	margin-top: 10px;
}
#footer ul{
	width: 60%;
}
#footer li{
	width: 33.3%;
	border: none;
	text-align: center;
}
#footer li:hover{
	background: #ccc;
	transition: 0.3s;
} 
#copyright{
	width: 120px;
	border: 1px solid #ccc;
	padding: 10px;
	color: #ccc;
}